.todo-page {
  padding-bottom: 100px;
  h2 {
    margin-top: 30px;
  }
  &__container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;

    .ant-btn {
      margin: 10px;
    }
    .todo-cards__container {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 10px;
      line-height: 1rem;

      .todo-card {
        width: 20%;
        border: 2px solid black;
        margin: 10px;
        padding: 10px;
      }
    }

    .hint {
      margin-right: 10px;
      font-size: 16px;
      font-weight: 500;
    }
  }
}
