$blue-primary: #0050b3;
$blue-light: #096dd9;
$blue-dark: #003a8c;
$blue-daybreak-1: #e6f7ff;
$blue-daybreak-6: #1890ff;

$white-light: #f8f8f8;
$white-bg: #eaeaea;
$white-pure: #ffffff;

$gray-blue: #697b91;
$gray-blue-hover: #495666;
$gray-blue-bg-hover: #dee1e5;
$gray-blue-bg: #ebeff3;
$gray-progessbar-bg: #d7d7d7;
$gray-progessbar-border: #c2c2c2;
$gray-border: #d6d6d6;
$gray-7: #8c8c8c;
$gray-4: #f0f0f0;
$gary-landing-bg: #f0f2f5;

$green-light: #13c2c2;
$red: #ef1754;
$default-radius: 8px;
$small-radius: 4px;

$black-badge: rgba(0, 0, 0, 0.45);
